{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link href="{% static 'css/login.css' %}" rel="stylesheet">

</head>
<body>
    <div class="containe">
        <form class="form" action="{% url 'login' %}" method="post">
            <h3 style="color:white;">Enter credentials</h3>
           
            <input class="input" type="email" name="email" placeholder="E-Mail I.D.">
            <input class="input" type="password" name="password" placeholder="Enter password">
            <p style="color:white;">Don't have an account? <a style="color:red;text-decoration:none;" href="{% url 'signup' %}">Signup </a>here !!</p>
            <center><button type="submit" class="button">Login</button></center>
        </form>
    </div>
    
</body>
</html>